#header {
	height: 50px;
	width: 100%;
}

#footer {
	width: 100%;
}

#body {
	width: 80%;
	margin: auto;
}

.images {
	height: 400px;
	float: right;
	margin-left: 30px;
	
}

.images2 {
	width: 800px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Courier, sans-serif;
	text-shadow: 5px 5px 1px grey;
}

h6 {
	font-style: oblique;
	font-weight: 900;
	text-decoration: overline;
}

p {
	font-family: Arial, sans-serif;
	font-kerning: auto;
	font-size: 14pt;
	line-height: 1.5;
	word-spacing: 10px;
	text-align: justify;
	text-indent: 20px;
}

ul, ol, table {
	font-family: monospace, sans-serif;	
}

b, i {
	letter-spacing: 3px;
}

ul {
	list-style: url(../images/icon.png);
}

body {
	background-image: url(../images/bgimg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

header, footer {
	opacity: 0.5;
}

a {
	text-decoration: none;
	text-transform: uppercase;
	cursor: move;
	font-weight: 900;
}

table, th, td {
	border: 2px dotted red;
	text-align: center;
	border-collapse: collapse;
	cursor: cell;
	
}



