/*
Menu lab
*/

ul {
    float: left;
    margin: 0;
    padding: 0;
}

.menu {
    float: left;
}

.menu__item > a {
    padding: 2em 2em;
    display: block;
}

.navbar {
    background: gray;
}

.level-1 > .menu__item {
    display: block;
    float: left;
}

.level-2,
.level-3 {
    display: none;
}

.menu__item:hover > .level-2 {
    display: block;
}

.menu__item:hover {
    background: #0e0e0e;
}

.menu__item {
    position: relative;
}

.level-2,
.level-3 {
    position: absolute;
    list-style: none;
    background: #d1d1d1;
    margin: 0;
    padding: 0;
}

.level-2 .menu__item:hover > .level-3 {
    display: block;
}

.level-3 {
    right: -100%;
    top: 0;
}


/*
Modal lab
*/

#tubmler {
    display: none;
}

.modal-body {
    display: none;
}

.navbar label{
    padding: 2em 2em;
    display: block;
    cursor: pointer;
}

#tubmler:checked + .modal-body {
    display: block;
}

.modal-body {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 50%;
    height: 50%;
    background: #fff;
    border: 1px solid;
    text-align: center;
}




