* {
    box-sizing: border-box;
    font-family: sans-serif;
    /*padding: 0;
    margin: 0;*/
}

body {
    background-color: #ededed;
}

/*--- admin.php ----------*/
/*--- login.php ----------*/

.auth_page label,
.auth_page input:not([type="submit"]) {
    display: block;
    margin: 10px auto;
    width: 80%;
}

a.auth_page {
    text-decoration: none;
}
a.auth_page:hover {
    text-decoration: underline;
}

fieldset.admin_page,
.auth_page fieldset {
    width: 600px;
    margin: 50px auto;
    border-radius: 10px;
}


.admin_page label,
.admin_page select,
.admin_page input[type="text"],
.admin_page textarea {
    display: block;
    margin: 10px auto;
    width: 80%;
}

.admin_page label {
    margin-top: 20px;
}

.admin_page input[type="submit"], 
.auth_page input[type="submit"] 
{
    width: 35%;
    height: 40px;
    margin: 20px 0 20px 10%;
    border-radius: 6px;
    background-color: #008300;
    border: none;
    font-size: 18px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;
}

/*--- template.php ----------*/

div.page {
    width: 1200px;
    margin: auto;
}

main.page {
/*    float: left;*/
    display: inline-block;
    width: 800px;
    border: 1px solid black;
    border-radius: 5px;
    margin: 0 10px 10px 10px;
}

main.page button,
aside.sidebar button {
    border-radius: 3px;
    background-color: #e2e2e2;
}

section.post {
    border-bottom: 1px dotted grey;
    
    padding: 5px;
}

.post h2 {
    color: #00004d;
}

.post p,
.post small {
    color: #22223c;
}

aside.sidebar {
/*    float: right;*/
    display: inline-block;
    width: 370px;
    /*border: 1px solid black;*/
    padding: 5px;
    vertical-align: top;
    margin: auto;
    background-color: #d8d8d8;
}

.sidebar button {
    margin-bottom: 2px;
}

.sidebar a {
    text-decoration: none;
}

.sidebar a:hover {
    text-decoration: underline;
}

p.list_title {
    color: #383838;
    font-weight: 600;
}

a.links {
    margin-right: 5px;
}

p.links {
    border-bottom: 1px dotted grey;
    margin-bottom: 1px;
}

p.links button.btn {
    visibility: hidden;
}

p.links:hover button.btn {
    visibility: visible;

}

div.login_info {
    text-align: right;
    background-color: #585858;
    padding: 5px;
    margin-bottom: 10px;
}

.login_info span {
    color: #fff;
    padding-right: 40px;
}

div.login_info button {
    margin-right: 20px;
}










