* {
    box-sizing: border-box;
    /*margin: 0;
    padding: 0;*/
}
body {
    margin: 0;
}

.colored-block {
    padding: 50px 0 50px 50px;
    background: #1e2642;
    color: #fff;
}

.bg-aqua {
    background: #77bcd5;
}
.bg-purple {
    background: #7c75b2;
}
.bg-orange {
    background: #e49289;
}
.bg-yellow {
    background: #d0a57f;
}












































