* {
    box-sizing: border-box;
    /*margin: 0;
    padding: 0;*/
}

body {
    margin: 0;
}

.row {
    width: 100%;
}

.row:after {
    clear: both;
    content: "";
    display: block;
    height: 0;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    float: left;
}



.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

.container {
    width: 1170px;
    margin: auto;
}

@media all and (max-width:768px) {

    .col-1,
    .col-2,
    .col-3,
    .col-4,
    .col-5,
    .col-6,
    .col-7,
    .col-8,
    .col-9,
    .col-10,
    .col-11,
    .col-12 {
        float: none;
        width: 100%;
    }

    .mobile-col-1 {
        width: 8.33%;
    }
    .mobile-col-2 {
        width: 16.66%;
    }
    .mobile-col-3 {
        width: 25%;
    }
    .mobile-col-4 {
        width: 33.33%;
    }
    .mobile-col-5 {
        width: 41.66%;
    }
    .mobile-col-6 {
        width: 50%;
    }
    .mobile-col-7 {
        width: 58.33%;
    }
    .mobile-col-8 {
        width: 66.66%;
    }
    .mobile-col-9 {
        width: 75%;
    }
    .mobile-col-10 {
        width: 83.33%;
    }
    .mobile-col-11 {
        width: 91.66%;
    }
    .mobile-col-12 {
        width: 100%;
    }

    .mobile-col-1,
    .mobile-col-2,
    .mobile-col-3,
    .mobile-col-4,
    .mobile-col-5,
    .mobile-col-6,
    .mobile-col-7,
    .mobile-col-8,
    .mobile-col-9,
    .mobile-col-10,
    .mobile-col-11,
    .mobile-col-12 {
        float: left;
    }

}
