* {
    box-sizing: border-box;
    /*margin: 0;
    padding: 0;*/
}
body {
    margin: 0;
    font-family: Arial;
}

.colored-block {
    padding: 50px 50px 50px 50px;
    background: rgba(42, 47, 74, 1);
    color: #fff;
}
.img-block {
	margin: 0;
	padding: 0;
}

.bg-aqua {
    background: rgba(119, 188, 213, 1);
}
.bg-purple {
    background: #7c75b2;
}
.bg-orange {
    background: #e49289;
}
.bg-yellow {
    background: #d0a57f;
}
.bg-blue {
	background: #8a9fd5;
}
.bg-green {
	background: #79af96;
}
.dark {
	background: #242943;
}

p.uppercase {
	text-transform: uppercase;
	font-size: 10px;
}

img {
width: 100%;
float: left;
}

.logo {
    font-size: 18px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    width: 80%;
    float: left;
    /*background: rgba(42, 47, 74, 1);*/
}
.logo span {
    color: rgba(42, 47, 74, 1);
    background: #fff;
    padding: 3px;

}
.header {
    background: rgba(42, 47, 74, 1);
    padding: 20px;
    position: fixed;
    width: 100%;
}

.menu {
    text-align: right;
}

button {
    background: none;
    border: none;
}

.menu-container {
    background: rgba(36, 41, 67, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    color: #fff;
    display: none;
}
.menu-container a {
    color: #fff;
    width: 100%;
    display: inline-block;
    padding: 10px 0;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu-container ul {
    padding-left: 0;
   /*padding-top: 100px;*/
    width: 100%;
    max-width: 300px;
    margin: auto;
    list-style-type: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
























/*Отсюда начинаются стили для лендинга*/

.bg-lighter {
	background: #2e3450;
}
.bg-lightest {
	background: #333856;
}



































