@-webkit-keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes appear {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

header,
section,
footer,
aside,
nav,
main,
article,
figure {
    display: block;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

/*
* {
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
*/

/* Header navigation styles */

/*site/index------------------------------------------------------------------------------------------------*/

.topnav {
    overflow: hidden;
    background-color: #00A591;
}

.topnav > a,
.dropdown > a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: none;
    background-color: transparent;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
}

.topnav a.active {
    background-color: white;
    color: #00A591;
}

.topnav .icon {
    display: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    border: none;
    font-size: 100%;
    outline: none;
    color: white;
    padding: 15px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.dropbtn {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 49px;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.topnav a:hover,
.dropdown:hover .dropbtn {
    background-color: white;
    color: #00A591;
}

.dropdown-content a:hover {
    background-color: #ddd;
    color: black;
}

.dropdown:hover .dropdown-content {
    display: block;
}

#bar {
    overflow: auto;
    background: linear-gradient(to bottom, #6b5b95 0%, #00a591 100%);
    padding: 7px;
}

#bar a:link,
#bar a:visited {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
    text-decoration: none;
    border-radius: 10px;
    font-size: 100%;
}

#bar a:hover,
#bar a:active,
#bar a.active {
    background-color: white;
    color: #6B5B95;
}

#bar > span {
    float: right;
    display: block;
    color: white;
    text-align: center;
    padding: 7px 16px;
}

#bar::after {
    content: "";
    clear: both;
    display: table;
}

#logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 50px;
    font-weight: bold;
    color: #6B5B95;
    margin-bottom: -12px;
}

#logo img {
    height: 50px;
    margin: 10px 0px -1px;
}

.icon {
    display: inline-block;
    cursor: pointer;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 5px 16px;
}

.icon:hover {
    background-color: white;
}

.bar1,
.bar2,
.bar3 {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition: 0.3s ease-in-out;
}

.icon:hover .bar1,
.icon:hover .bar2,
.icon:hover .bar3 {
    background-color: #00A591;
}

.change .bar1 {
    -ms-transform: rotate(-45deg) translate(-9px, 6px);
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    -ms-transform: rotate(45deg) translate(-8px, -8px);
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* main styles */

main {
    padding: 50px;
}

main > *:not(:last-child) {
    margin-bottom: 50px;
}

.main-border {
    padding: 0;
    border: 10px solid #00A591;
    border-radius: 10px;
}

section {
    margin-top: 100px;
    border-top: 2px solid #00A591;
    position: relative;
}

section:first-of-type {
    border-top: 2px solid #6B5B95;
}

.sec-header {
    text-transform: uppercase;
    font-size: 20px;
    margin-left: 100px;
    padding: 0px 20px;
    background-color: white;
    display: inline-block;
    top: -15px;
    position: absolute;
    color: #00A591;
}

section:first-of-type .sec-header {
    color: #6B5B95;
}

.tabcontent:not(main) {
    display: none;
}

/* Hero slider styles */

#hero-slider .mySlides {
    /*    display: none;*/
    height: 100%;
    background-size: cover;
    background-position: center;
}

#hero-slider.slideshow-container {
    max-width: 2000px;
    height: 60vh;
    position: relative;
    margin: auto;
    overflow: hidden;
}

#hero-slider .text {
    color: white;
    position: absolute;
    right: 0;
    background-color: #00A591;
    padding: 50px;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    height: 130%;
    box-sizing: border-box;
    text-align: center;
}

#hero-slider .text * {
    margin: 10px;
}

#hero-slider .text h2 {
    text-transform: uppercase;
}

#hero-slider .text .super {
    font-size: 30px;
}

#hero-slider .text button {
    background-color: white;
    padding: 10px 20px;
    color: #00A591;
    border: 2px solid white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
}

#hero-slider .text button:hover {
    background-color: #00A591;
    color: white;
}

#hero-slider .numbertext {
    color: white;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    background-color: #00A591;
    border-bottom-right-radius: 10px;
}

#hero-slider .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    -webkit-transition: background-color 0.6s ease;
    transition: background-color 0.6s ease;
    box-sizing: border-box;
}

#hero-slider .dotactive,
#hero-slider .dot:hover {
    border: 2px solid white;
    background-color: #00A591;
}

#hero-slider #dots {
    position: absolute;
    bottom: 0;
    left: 50%;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #00A591;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 15px 20px 5px;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

#spring {
    background-image: url("/assets/img/front-images/cherry-blossom-1716757_1920.jpg");
}

#competition {
    background-image: url("/assets/img/front-images/girl-1718430_1920.jpg");
}

#hero-slider #low-price {
    background-image: url("/assets/img/front-images/racing-bicycle-161449_1280.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left;
}

#travel {
    background-image: url("/assets/img/front-images/bicycling-1160860_1280.jpg");
}

/*Hit slider styles*/

#hit-slider .mySlides {
    display: none;
    margin: 0px 60px 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #6B5B95;
    height: 400px;
    border: 1px solid #eee;
    overflow: hidden;
}

#hit-slider img {
    vertical-align: middle;
}

#hit-slider.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: 50px auto;
}

#hit-slider .prev,
#hit-slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #6B5B95;
    text-align: center;
    line-height: 35px;
    border: 1px solid #6B5B95;
}

#hit-slider .next {
    right: 0;
}

#hit-slider .prev:hover,
#hit-slider .next:hover {
    background-color: white;
    color: #6B5B95;
}

#hit-slider .text {
    display: table-cell;
    background-color: white;
    border-bottom-right-radius: 80%;
    padding: 5% 10% 5% 5%;
    height: 400px;
    box-sizing: border-box;
    width: 40%;
}

#hit-slider .text h2 {
    color: #6B5B95;
    margin: 0 0 40px;
    padding-top: 20px;
}

#hit-slider .text h2 a:link,
#hit-slider .text h2 a:visited {
    text-decoration: none;
    color: #6B5B95;
}

#hit-slider .text h2 a:hover,
#hit-slider .text h2 a:active {
    color: black;
}

#hit-slider .text .hit-price {
    font-size: 20px;
    color: #6B5B95;
    margin-right: 10px;
}

#hit-slider .text button {
    background-color: #6B5B95;
    padding: 10px 20px;
    color: white;
    border: 1px solid #6B5B95;
    border-radius: 10px;
    font-size: 100%;
    font-family: "Montserrat", sans-serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#hit-slider .text button:hover {
    background-color: white;
    color: #6B5B95;
}

#hit-slider .numbertext {
    color: #6B5B95;
    padding: 8px 12px;
    position: absolute;
    top: 0;
    right: 60px;
}

#hit-slider .hit-img {
    width: 60%;
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 5%;
    background-color: white;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 5px;
    position: relative;
}

#hit-slider .hit-img img:first-child {
    width: 90%;
    margin-left: 5%;
}

#hit-slider .new {
    width: 150px;
    position: absolute;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 10%;
    top: 15%;
}

/*Category slider styles*/

.three {
    display: table;
    margin: 50px;
    overflow: hidden;
}

.cat-slide {
    display: none;
    width: 25%;
    padding: 10px;
}

.cat-slide > div {
    padding: 20px 10px;
    color: #00A591;
    border-radius: 10px;
    height: inherit;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cat-slide h2 {
    height: 84px;
}

.cat-slide h2 a:link,
.cat-slide h2 a:visited {
    color: #00A591;
    text-decoration: none;
}

.cat-slide h2 a:hover,
.cat-slide h2 a:active {
    color: black;
}

.cat-slide .cat-img {
    height: 200px;
    text-align: center;
    position: relative;
}

.cat-slide .cat-img img:first-child {
    max-width: 80%;
    max-height: 100%;
}

.cat-slide .new {
    width: 40%;
    position: absolute;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    left: 0;
    top: 0;
}

.cat-slide .cat-price {
    font-size: 20px;
    display: inline-block;
    margin-right: 15px;
}

.cat-slide button {
    background-color: #00A591;
    padding: 10px 20px;
    color: white;
    border: 1px solid #00A591;
    border-radius: 10px;
    font-size: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.cat-slide button:hover {
    background-color: white;
    color: #00A591;
}

.category-slider .prev,
.category-slider .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 35px;
    height: 35px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-radius: 50%;
    background-color: #00A591;
    text-align: center;
    line-height: 35px;
    border: 1px solid #00A591;
}

.category-slider .next {
    right: 0;
}

.category-slider .prev:hover,
.category-slider .next:hover {
    background-color: white;
    color: #00A591;
}

/* Footer styles*/

footer {
    font-size: 16px;
    padding: 50px;
    background: linear-gradient(to bottom, #00a591 0%, #6b5b95 100%);
    position: relative;
    color: white;
}

footer .mgb {
    margin-bottom: 8px;
}

footer .mgb30 {
    margin-bottom: 30px;
}


footer a:link,
footer a:visited {
    color: white;
    text-decoration: none;
}

footer a:link .fa-caret-right,
footer a:visited .fa-caret-right {
    visibility: hidden;
}

footer a:hover .fa-caret-right,
footer a:active .fa-caret-right {
    visibility: visible;
}

footer > img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100px;
}

footer > div:not(last-child) {
    margin-right: 50px;
}

footer ul,
footer p {
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

footer li {
    list-style-type: none;
    padding-left: 10px;
    text-transform: none;
}

footer > div {
    margin-top: 30px;
    margin-bottom: 10px;
    display: inline-block;
    margin-top: 0;
    vertical-align: top;
}

.social img {
    width: 30px;
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
}

.social p {
    margin-bottom: 10px;
}

.social a {
    padding: 5px;
}

.social a:hover img {
    -webkit-filter: none;
    filter: none;
}

/*Каталог-------------------------------------------------------------------------------------------------------*/

.catalog-cats {
    width: 20%;
    position: absolute;
    border: 2px solid #00a591;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    color: #00a591;
    margin-top: 50px;
    background-color: #00a591;
    box-sizing: border-box;
}

.catalog-cats a {
    background-color: white;
    display: block;
    padding: 7px;
}

.catalog-cats a:first-of-type {
    border-top-right-radius: 10px;
}

.catalog-cats a:last-child {
    border-bottom-right-radius: 10px;
}

.catalog-cats a:link,
.catalog-cats a:visited {
    font-size: 100%;
    font-weight: normal;
    text-decoration: none;
    color: #00a591;
}

.catalog-cats a:hover,
.catalog-cats a:active,
.catalog-cats a.active {
    color: #00665a;
    text-decoration: underline;
}

.catalog-cats h2 {
    color: white;
    font-weight: normal;
    padding: 7px;
    margin: 0;
}

.catalog-prods {
    width: 75%;
    margin-left: 25%;
    box-sizing: border-box;
    display: inline-block;
    padding-top: 50px;
    margin-bottom: 100px;
    position: relative;
}

.catalog-prods > h2 {
    color: #00a591;
    font-weight: normal;
    padding: 7px;
    margin: 0;
    margin-bottom: 50px;
}

.catalog-prods > h2 a:link,
.catalog-prods h2 a:visited {
    color: #00a591;
}

.catalog-prods > h2 a:hover,
.catalog-prods h2 a:active {
    color: #6b5b95;
}

.product-item {
    width: 30%;
    display: inline-block;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    height: 250px;
    overflow: hidden;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    position: relative;
    text-align: center;
}

.product-item a.product-name:link, .product-item a.product-name:visited {
    color: #00a591;
    text-decoration: none;
    font-weight: bold;
    height: 38px;
}

.product-item a.product-name:hover, .product-item a.product-name:active {
    color: #00665a;
    text-decoration: underline;
}

.product-item .price {
    display: inline-block;
    margin-right: 15px;
    color: #b54035;
    font-weight: bold;
    position: absolute;
    left: 10px;
    bottom: 10px;
}

.product-item .cart:link,
.product-item .cart:visited,
.catalog-prods .cart:link,
.catalog-prods .cart:visited {
    display: inline-block;
    padding: 5px 10px;
    color: #00a591;
    border: 1px solid #00a591;
    border-radius: 10px;
    background-color: white;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.product-view-info .cart:link, .product-view-info .cart:visited {
    position: relative;
    margin: 10px;
}

.product-item .cart:hover,
.product-item .cart:active,
.catalog-prods .cart:hover,
.catalog-prods .cart:active {
    color: white;
    background-color: #00a591;
}

.product-item .img {
    height: 120px;
}

.product-item .new {
    width: 100px;
    position: absolute;
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    transform: rotate(-20deg);
    right: 20px;
    top: 140px;
}

.catalog-prods .pagination {
    margin: 50px auto 0 50%;
    border: 2px solid #00a591;
    border-radius: 10px;
    display: inline-block;
    padding: 0 20px;
    -ms-transform: translate(-50%, 0);
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: #00a591;
}

.catalog-prods .pagination li {
    display: inline-block;
    list-style-type: none;
    padding: 10px 15px;
    background-color: #00a591;
}

.catalog-prods .pagination li:not(last-of-type) {
    border-right: 1px solid rgba(255, 255, 255, 0.18);
}

.catalog-prods .pagination li:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.catalog-prods .pagination li:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.catalog-prods .pagination li a:link,
.catalog-prods .pagination li a:visited {
    text-decoration: none;
    color: white;
    background-color: #00a591;
    display: inline-block;
}

.catalog-prods .pagination li a:hover,
.catalog-prods .pagination li a:active,
.catalog-prods .pagination li.active,
.catalog-prods .pagination li.active a,
.catalog-prods .pagination li:hover,
.catalog-prods .pagination li:hover a {
    background-color: white;
    color: #00a591;
}

.catalog-prods .pagination li {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.new-prod {
    background: linear-gradient(to top left, #ecdb54 0%, #ec9787 100%);
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}

.product-view-img,
.product-view-info {
    float: left;
    margin-right: 20px;
}

.product-view-img {
    width: 50%;
    margin-bottom: 20px;
}

.product-view-img img {
    max-width: 100%;
}

#prod-view {
    margin-bottom: 0px;
}

.product-view-description {
    text-align: center;
    color: #00a591;
    margin: 20px 50px 50px;
    -webkit-column-count: 2;
    -moz-column-count: 2;
    column-count: 2;
    -webkit-column-rule: 1px solid #00a591;
    -moz-column-rule: 1px solid #00a591;
    column-rule: 1px solid #00a591;
}

.product-view-description-heading {
    font-weight: bold;
    margin-top: 50px;
    text-transform: uppercase;
    text-align: center;
    color: #00a591;
}

.product-view-description p {
    margin: 5px;
    line-height: 150%;
}

/*
.catalog-menu {
    background-color: #00a591;
    height: auto;
    margin: 0 50px;
    border-radius: 10px;
}

.catalog-menu a:link,
.catalog-menu a:visited,
.catalog-menu span {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 25px;
    text-decoration: none;
}

.catalog-menu a:hover,
.catalog-menu a:active {
    text-decoration: underline;
}

.catalog-menu span {
    color: black;
    text-transform: uppercase;
}

.catalog-menu::after {
    content: "";
    clear: both;
    display: table;
}

.content {
    padding: 50px;
}

.catalog-menu.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    margin: 0;
    border-radius: 0;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.sticky + .content {
    padding-top: 200px;
}
*/

/*О магазине ----------------------------------------------------------------------------------------------*/

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.first-parallax {
    min-height: 80vh;
    background-image: url(/assets/img/front-images/bicycles-1541075_1920.jpg);
}

.second-parallax {
    min-height: 70vh;
    background-image: url(/assets/img/front-images/parallax2.jpg);
}

.third-parallax {
    min-height: 60vh;
    background-image: url(/assets/img/front-images/parallax3.jpg);
}

.about {
    padding: 50px;
    text-align: justify;
}

.about img {
    width: 50px;
}

/*Contacts, user, cabinet --------------------------------------------------------------------------------------------*/

.contacts,
.login,
.register,
.cabinet {
    padding: 50px;
}

.contacts img {
    float: right;
    max-width: 40%;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.contacts .mgt {
    margin-top: 50px;
}

.contacts h2,
.login h2,
.register h2,
.cabinet h2 {
    color: #00a591;
}

.cabinet li,
.login li,
.register li {
    list-style-type: none;
}

.cabinet li:first-child {
    margin-top: 10px;
}

.cabinet ul,
.login ul,
.register ul {
    padding-left: 0;
}

.cabinet a:link,
.cabinet a:visited,
.login a:link,
.login a:visited {
    width: 250px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #00a591;
    color: #00a591;
    display: block;
    border-radius: 15px;
    margin-bottom: 5px;
    text-decoration: none;
    padding-left: 15px;
    padding-right: 5px;
}

.login a:link,
.login a:visited,
.cabinet table a:link,
.cabinet table a:visited {
    display: inline-block;
    width: auto;
    padding-right: 15px;
}

.cabinet a:hover,
.cabinet a:active,
.login a:hover,
.login a:active {
    color: white;
    background-color: #00a591;
}

.login h2,
.login p {
    display: inline-block;
    margin-right: 10px;
}

.login li,
.register li,
.cabinet li {
    color: red;
    margin-bottom: 5px;
}

.cabinet .mgb {
    margin-bottom: 50px;
}

#breadcrumb {
    color: black;
}

.cabinet h2#breadcrumb a:link,
.cabinet h2#breadcrumb a:visited {
    color: #00a591;
    width: auto;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding-left: 0;
}

.cabinet h2#breadcrumb a:hover,
.cabinet h2#breadcrumb a:active {
    color: #00665a;
    text-decoration: underline;
}

/*Basket --------------------------------------------------------------------------------------------------*/

.basket {
    padding: 50px;
}

.basket .mgb {
    margin-bottom: 50px;
}

.basket .btn:link, .basket .btn:visited {
    border: 1px solid #00a591;
    border-radius: 15px;
    padding: 7px 20px;
    text-decoration: none;
    color: #00a591;
}

.basket .btn:hover, .basket .btn:active {
    background-color: #00a591;
    color: white;
}

.basket table a:link, .basket table a:visited {
    color: #00a591;
}

.basket table a:hover, .basket table a:active {
    color: #00665a;
    text-decoration: none;
}

.look span {
    visibility: hidden;
}

.look:hover span {
    visibility: visible;
}

.basket .del:link,
.basket .del:visited {
    color: red;
    text-align: center;
}

.basket .del:hover,
.basket .del:active {
    color: darkred;
}

/*Forms -------------------------------------------------------------------------------------------------*/

/* Style inputs, select elements and textareas */

input[type=text],
input[type=email],
input[type=password],
input[type=file],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #00a591;
    border-radius: 10px;
    box-sizing: border-box;
    resize: vertical;
    font-size: 100%;
}

textarea {
    height: 200px;
}

/* Style the label to display next to the inputs */

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

/* Style the submit button */

input[type=submit] {
    background-color: #00a591;
    color: white;
    padding: 12px 20px;
    border: 1px solid #00a591;
    border-radius: 10px;
    cursor: pointer;
    float: right;
    font-size: 100%;
}

input[type=submit]:hover {
    background-color: white;
    color: #00a591;
}

/* Style the container */

.container {
    border-radius: 5px;
    background-color: rgba(0, 165, 145, 0.1);
    padding: 20px;
}

/* Floating column for labels: 25% width */

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

/* Floating column for inputs: 75% width */

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 5px;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .col-25,
    .col-75,
    input[type=submit] {
        width: 100%;
        margin-top: 0;
    }
}

.err li {
    list-style-type: none;
    color: red;
    margin-bottom: 5px;
}

.err li:first-child {
    margin-top: 10px;
}

.err {
    padding-left: 0;
}

form img {
    max-width: 100%;
}

/*Tables ----------------------------------------------------------------------------------------------------------*/

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #00a591;
}

th,
td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgba(0, 165, 145, 0.1);
}

.table-container {
    overflow-x: auto;
}

/*Admin -----------------------------------------------------------------------------------------------------------*/

.admin-header {
    background: linear-gradient(to bottom, #6b5b95 0%, #00a591 100%);
    padding: 20px;
}

.admin-header a:link, .admin-header a:visited {
    color: white;
    margin-right: 30px;
    text-decoration: none;
}

.admin-header a:hover, .admin-header a:active {
    text-decoration: underline;
}

.pad-50 {
    padding: 50px;
}

.admin-acts {
    padding: 0;
}

.admin-acts li {
    list-style-type: none;
    margin-bottom: 5px;
}

.admin .btn:link, .admin .btn:visited {
    color: #00a591;
    border: 1px solid #00a591;
    padding: 7px 20px;
    border-radius: 15px;
    text-decoration: none;
    display: inline-block;
}

.admin .btn:hover, .admin a.btn:active {
    color: white;
    background-color: #00a591;
}

.wid {
    width: 220px;
}

.pb0 {
    padding-bottom: 0;
}

.pt0 {
    padding-top: 0;
}

.admin .del:link,
.admin .del:visited {
    color: red;
    text-align: center;
}

.admin .del:hover,
.admin .del:active {
    color: darkred;
}

.admin .edit:link,
.admin .edit:visited {
    color: #00a591;
    text-align: center;
}

.admin .edit:hover,
.admin .edit:active {
    color: #00665a;
}

input[type=submit].left {
    float: none;
}

.admin table a:link, .admin table a:visited {
    color: #00a591;
}

.admin table a:hover, .admin table a:active {
    color: #00665a;
    text-decoration: none;
}

.admin .mgb {
    margin-bottom: 50px;
}

/*MQs --------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 900px) {
    .cat-slide,
    .cat-slide h2,
    .cat-slide .cat-price,
    .cat-slide button {
        font-size: 12px;
    }
    .cat-slide .cat-img {
        height: 100px;
    }

    .cat-slide h2 {
        height: 28px;
    }

    .catalog-cats {
        width: 30%;
    }

    .catalog-prods {
        width: 60%;
        margin-left: 35%;
    }

    .product-item {
        width: 45%;
    }

    .product-item .img {
        height: 100px;
    }

    .product-item .new {
        top: 130px;
    }
}

@media screen and (max-width: 700px) {
    .topnav a:not(:first-child),
    .dropdown .dropbtn {
        display: none;
    }
    .topnav div.icon {
        float: right;
        display: block;
    }

    .topnav.responsive {
        position: relative;
    }
    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
        background-color: white;
        border-radius: 10px;
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        border-radius: 0;
        width: 100%;
    }
    .topnav.responsive .dropdown {
        float: none;
    }
    .topnav.responsive .dropdown-content {
        position: relative;
        margin-top: 0;
    }
    .topnav.responsive .dropdown .dropbtn {
        display: block;
        width: 100%;
        text-align: left;
    }
    .topnav.responsive .icon div {
        background-color: #00A591;
    }

    #bar span {
        display: none;
    }

    .topnav.responsive .dropbtn {
        border-radius: 0;
    }

    #hero-slider.slideshow-container {
        height: 100vh;
    }

    #hero-slider .text {
        bottom: 0;
        border-radius: 0;
        height: auto;
        width: 100%;
        padding: 20px 20px 45px;
    }

    #hero-slider .text * {
        display: inline-block;
        font-size: 16px;
        line-height: 16px;
        margin: 5px;
    }

    #hero-slider .text .super {
        font-size: 20px;
    }

    #hero-slider .text br {
        display: none;
    }

    main {
        padding: 20px 0;
    }
    #hit-slider .mySlides {
        height: 300px;
    }
    #hit-slider .text,
    #hit-slider .hit-img {
        display: block;
    }
    #hit-slider .hit-img {
        width: 100%;
        padding: 5% 0 0;
        height: 150px;
        box-sizing: border-box;
        text-align: center;
        border-bottom-left-radius: 0;
    }
    #hit-slider .hit-img img:first-child {
        width: auto;
        height: 100%;
    }
    #hit-slider .text {
        padding: 0 5% 5%;
        width: 100%;
        height: 150px;
    }
    #hit-slider .hit-price {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }
    #hit-slider .text h2 {
        margin-bottom: 10px;
        height: 55px;
    }
    .sec-header {
        margin-left: 50px;
    }
    .product-item .img {
        height: 80px;
    }
    .product-view-img {
        width: 100%;
    }
}

@media screen and (max-width: 600px) {
    .cat-slide {
        width: 40%;
        padding: 5px;
    }
    .category-slider .prev,
    .category-slider .next {
        top: 30px;
    }

    .three {
        margin: 50px 10px;
    }

    .cat-slide h2 {
        height: auto;
    }

    .catalog-cats {
        width: 90%;
        position: relative;
    }

    .catalog-prods {
        width: 100%;
        margin-left: 0;
    }

    .product-item {
        width: 45%;
    }

    .product-item .img {
        height: 100px;
    }
    .contacts img {
        float: none;
        max-width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .product-item {
        width: 95%;
    }

    .product-item .img {
        height: 120px;
    }

    .product-item .new {
        top: 140px;
        right: 20%;
    }
}

@media only screen and (max-width: 300px) {
    .prev,
    .next,
    .text {
        font-size: 11px
    }
}
