* {
    box-sizing: border-box;
    font-family: sans-serif;
    /*padding: 0;
    margin: 0;*/
}

/*--- adminpage.php ----------*/

.admin_page table {
    border-collapse: collapse;
}

.admin_page td,
.admin_page th {
    border: 1px solid #4b4b4b;
    padding: 5px;
} 